:root {
	font: 16px / 1 sans-serif;
}

html {
	height: 100%;
}

body {
	/* margin-left: 13rem;
	margin-right: 13rem; */
	min-height: 100%;
	font-family: 'Roboto', sans-serif;
	background-color: black;
}

.flex-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.flex-column {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.border-radius {
	border-radius: 7px;
}

header {
	background-image: url(./assets/space.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position-x: center;
	background-position-y: bottom;
}

.header-section {
	padding-top: 2rem;
	padding-bottom: 4rem;
	justify-content: flex-start;
}

.header-title {
	font-weight: 900;
	font-size: 2rem;
}

figure > img {
	height: 17rem;
	object-fit: cover;
	margin-top: 4rem;
	margin-left: 6rem;
}

.box {
	margin-top: 3rem;
	background: #e3e8eb;
	opacity: 0.75;
	font-weight: 900;
	position: relative;
	height: 5rem;
	padding-left: 1rem;
	padding-right: 3rem;
	padding-bottom: 3rem;
}

.speech-bubble:before {
	content: '';
	width: 0px;
	height: 0px;
	position: absolute;
	border-left: 10px solid #d3d8da;
	border-right: 10px solid transparent;
	border-top: 10px solid #d3d8da;
	border-bottom: 10px solid transparent;
	left: 19px;
	bottom: -19px;
}

.header-ul {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.header-ul-li {
	padding: 0.5rem;
	flex-basis: 25%;
}

.header-ul-li img {
	width: 100%;
}

main {
	margin-top: 2rem;
}

.main-section {
	background-color: #fffefe;
	margin-left: 2rem;
	margin-right: 2rem;
	margin-bottom: 3em;
	display: flex;
	flex-direction: column;
}

.main-section-header {
	font-size: 1.5rem;
	padding-left: 1rem;
}

.main-paragraph {
	padding-left: 1em;
}

span {
	font-size: 0.75rem;
}

.keep-reading-button {
	background-color: #0081d5;
	color: white;
	padding: 0.5rem;
	text-decoration: none;
	align-self: flex-end;
	position: relative;
	margin-bottom: -15px;
	margin-right: 2rem;
}

#react-pic-header {
	background: url(./assets/react.png);
	height: 4em;
	background-size: cover;
	background-position-y: center;
	border-radius: 7px 7px 0px 0px;
}

#code-pic-header {
	background: url(./assets/code.png);
	height: 4rem;
	background-size: cover;
	border-radius: 7px 7px 0px 0px;
}

ul {
	list-style: none;
}

footer {
	color: #e3e3e3;
	text-align: center;
}

.twitter-ul {
	align-items: center;
}

.twitter-li {
	padding: 0.5rem;
}

.twitter-li a img {
	height: 4rem;
}

footer > p {
	font-size: 0.75rem;
}
